<div class="row" style="margin-left: 5px;">
  <div class="col">
    <form class="d-flex justify-content-left my-3">
      <input class="form-control me-2" style="width: 50%;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="col">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="position: relative; top: 15px;">
        Thêm Hoá Đơn Nhập
      </button>
    </div>
  </div>
</div>
</div>
<div class="table-responsive" style="text-align: center; margin-left: 5px;">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nhân Viên</th>
        <th scope="col">Nhà Cung Cấp</th>
        <th scope="col">Người Giao</th>
        <th scope="col">Số Điện Thoại Người Giao</th>
        <th scope="col">Tổng Tiền Hàng</th>
        <th scope="col">Ngày Nhập</th>
        <th scope="col">Trạng Thái</th>
        <th scope="col">Chức Năng</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Nguyễn Văn A</td>
        <td>Nhà Cung Cấp ABC</td>
        <td>Trần Văn B</td>
        <td>0123456789</td>
        <td>12.000.000VNĐ</td>
        <td>06/11/2024</td>
        <td>
          <div class="form-check form-switch d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </td>
        <td>
          <button class="btn btn-outline-warning">Chi tiết</button>
          <button class="btn btn-outline-success">Sửa</button>
          <button class="btn btn-outline-danger">Xóa</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nguyễn Văn B</td>
        <td>Nhà Cung Cấp CDE</td>
        <td>Trần Văn C</td>
        <td>0987654321</td>
        <td>12.000.000VNĐ</td>
        <td>06/11/2024</td>
        <td>
          <div class="form-check form-switch d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </td>
        <td>
          <button class="btn btn-outline-warning">Chi tiết</button>
          <button class="btn btn-outline-success">Sửa</button>
          <button class="btn btn-outline-danger">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Hoá Đơn Nhập</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="nhanvien" class="form-label">Nhân Viên</label>
            <input type="email" class="form-control" id="nhanvien">
          </div>
          <div class="col-md-6">
            <label for="ngaynhap" class="form-label">Ngày Nhập</label>
            <input type="password" class="form-control" id="ngaynhap">
          </div>
          <div class="col-md-4">
            <label for="nhacungcap" class="form-label">Nhà Cung Cấp</label>
            <select id="nhacungcap" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="nguoigiao" class="form-label">Người Giao</label>
            <input type="text" class="form-control" id="nguoigiao">
          </div>
          <div class="col-md-4">
            <label for="sdtnguoigiao" class="form-label">SĐT Người Giao</label>
            <input type="text" class="form-control" id="sdtnguoigiao">
          </div>
          <div class="col-md-4">
            <label for="tongtienhang" class="form-label">Tổng Tiền hàng</label>
            <input type="text" class="form-control" id="tongtienhang">
          </div>
          <div class="col-12">
            <div class="form-check form-switch">
              <label class="form-check-label" for="gridCheck">
                Trạng Thái
              </label>
              <input class="form-check-input" type="checkbox" role="switch" id="gridCheck">
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              </div>
              <div class="col-2">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </div>
              <div class="col-6">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal">
                    Thêm Hoá Đơn Nhập Chi Tiết
                  </button>
                </div>
              </div>
            </div>
            <div class="table-responsive border border-dark" style="margin-top: 10px; text-align: center">
              <table class="table">
                <thead style="display: table; width: 100%; table-layout: fixed;">
                  <tr>
                    <th scope="col" style="width: 5%;">
                      <div class="form-check" >
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <th scope="col" style="width: 20%;">Sản Phẩm</th>
                    <th scope="col" style="width: 15%;">Số Lượng</th>
                    <th scope="col" style="width: 20%;">Giá Nhập</th>
                    <th scope="col" style="width: 40%;">Ghi Chú</th>
                  </tr>
                </thead>
                <tbody style="display: block; max-height: 250px; overflow-y: auto; width: 100%;">
                  <tr style="display: table; table-layout: fixed; width: 100%;">
                    <th scope="row" style="width: 5%;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <td style="width: 20%;">Mark</td>
                    <td style="width: 15%;">Otto</td>
                    <td style="width: 20%;">@mdo</td>
                    <td style="width: 40%;">abc</td>
                  </tr>
                  <tr style="display: table; table-layout: fixed; width: 100%;">
                    <th scope="row" style="width: 5%;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <td style="width: 20%;">Mark</td>
                    <td style="width: 15%;">Otto</td>
                    <td style="width: 20%;">@mdo</td>
                    <td style="width: 40%;">abc</td>
                  </tr>
                  <tr style="display: table; table-layout: fixed; width: 100%;">
                    <th scope="row" style="width: 5%;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <td style="width: 20%;">Mark</td>
                    <td style="width: 15%;">Otto</td>
                    <td style="width: 20%;">@mdo</td>
                    <td style="width: 40%;">abc</td>
                  </tr>
                  <tr style="display: table; table-layout: fixed; width: 100%;">
                    <th scope="row" style="width: 5%;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <td style="width: 20%;">Mark</td>
                    <td style="width: 15%;">Otto</td>
                    <td style="width: 20%;">@mdo</td>
                    <td style="width: 40%;">abc</td>
                  </tr>
                  <tr style="display: table; table-layout: fixed; width: 100%;">
                    <th scope="row" style="width: 5%;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <td style="width: 20%;">Mark</td>
                    <td style="width: 15%;">Otto</td>
                    <td style="width: 20%;">@mdo</td>
                    <td style="width: 40%;">abc</td>
                  </tr>
                  <tr style="display: table; table-layout: fixed; width: 100%;">
                    <th scope="row" style="width: 5%;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <td style="width: 20%;">Mark</td>
                    <td style="width: 15%;">Otto</td>
                    <td style="width: 20%;">@mdo</td>
                    <td style="width: 40%;">abc</td>
                  </tr>
                  <tr style="display: table; table-layout: fixed; width: 100%;">
                    <th scope="row" style="width: 5%;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <td style="width: 20%;">Mark</td>
                    <td style="width: 15%;">Otto</td>
                    <td style="width: 20%;">@mdo</td>
                    <td style="width: 40%;">abc</td>
                  </tr>
                </tbody>
              </table>
            </div>                               
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <button type="submit" class="btn btn-primary">Thêm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>